.DS_Store

application/cache/*/Files
!application/cache/index.html
!application/cache/database/data.db

application/logs/*
!application/logs/index.html

#application/config/database.php
!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

# NODE JS
node_modules/

# CSS Files
static/css/style.css
static/css/style.css.map
static/css/journal-print.css
static/css/journal-print.css.map

# JavaScript
static/js/scielo-min.js
static/js/scielo-min.js.map