<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|images|css|javascript|rte|robots\.txt)
RewriteCond $1 !cache_util
RewriteRule ^(.*)$ index.php?$1 [L,QSA]
</IfModule>
